* {
    margin: 0;
    padding: 0;
}

button:hover {
    color: rgb(30, 161, 241);
}

h2 {
    font-weight: 900;
}

h6 {
    color: rgb(91, 112, 131);
}

.bold {
    font-weight: 700;
    color: black;
}

.section {
    border: 1px solid lightgrey;
    margin: 0 1px;
}

#header-section {
    height: 60px;
    display: flex;
    align-items: center;
}

#header-section button {
    margin: 0 10px;
}

.header-text-content {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

#cover-photo-section {
    background-size: cover;
    height: 250px;
    border-bottom: none;
}

#profile-details-section {
    height: 150px;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: none;
    padding-left: 10px;
}

#profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#profile-image-area {
    height: 50px;
}

#profile-picture {
    border-radius: 100%;
    border: 5px solid white;
    width: 100px;
    position: absolute;
    top: 260px;
}

#follow-button {
    background-color: rgb(30, 161, 241);
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#following-followers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 170px;
}

#navigation-tabs {
    height: 50px;
    border-top: none;
    display: flex;
    justify-content: space-around;
}

.navigation-button {
    background: none;
    border: none;
    color:rgb(91, 112, 131);
}

#tweets-section {
    height: auto;
    border-top: none;
    border-bottom: none;
}

.tweet {
    border: 1px solid lightgrey;
    border-left: none;
    border-right: none;
    display: flex;
    padding: 10px;
    border-top: none;
}

.tweet-profile-picture {
    width: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.tweet-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}